/* Estilos generales */
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
  }
  
  .container {
	max-width: 960px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h1 {
	text-align: center;
	color: #333;
  }
  
  h2 {
	text-align: center;
	color: #666;
  }
  
  h3 {
	text-align: center;
	color: #999;
  }
  
  .form-section {
	margin-bottom: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .form-section h4 {
	margin-bottom: 10px;
	color: #333;
  }
  
  .form-section label {
	display: block;
	margin-bottom: 5px;
	color: #666;
  }
  
  .form-section input[type="text"] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 14px;
  }
  
  .button {
	background-color: #337ab7;
	color: #fff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
  }
  
  .button:hover {
	background-color: #23527c;
  }
  
  /* Estilos específicos para el formulario */
  #datos-personales label,
  #materias label {
	width: 100%;
  }
  
  #datos-personales .row,
  #materias .row {
	margin-bottom: 10px;
  }
  
  @media screen and (min-width: 768px) {
	.form-section {
	  padding: 30px;
	}
  
	.form-section .row {
	  display: flex;
	  flex-wrap: wrap;
	  align-items: center;
	}
  
	.form-section .row .columns {
	  flex: 1;
	  margin-right: 10px;
	}
  
	.form-section .row .columns:last-child {
	  margin-right: 0;
	}
  }
  
  
#generar_boleta{
	background-color:red;	
}
